html {
  font-size: 14px;
}

body {
  background-color: hsl(30, 38%, 92%);
}

.product-review {
  margin: 5rem auto;
}

.vessel {
  background-color: hsl(0, 0%, 100%);
  border-radius: 12px;
  height: 281.25px;
  margin: 96px auto;
  position: relative;
  width: 375px;
}

.product-img {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  left: 0;
  position: absolute;
  width: 50%;
}

.product-info {
  height: 281.25px;
  position: absolute;
  right: 0;
  width: 50%;
}

.category {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-size: 0.5rem;
  font-weight: 700;
  letter-spacing: 0.18rem;
}

.name {
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
}

.description {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-size: 0.5rem;
  font-weight: 500;
  line-height: 1.6;
}

.new-price {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  font-size: 1.2rem;
  font-weight: 700;
}

.old-price {
  color: hsl(228, 12%, 48%);
  bottom: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.5rem;
  font-weight: 500;
  left: 8px;
  position: relative;
  text-decoration: line-through;
}

.add-to-cart-button {
  background-color: hsl(158, 36%, 37%);
  border: none;
  border-radius: 4px;
  color: hsl(0, 0%, 100%);
  font-family: "Montserrat", sans-serif;
  font-size: 0.5rem;
  font-weight: 700;
  margin: 0 24px;
  padding: 8px 38px;
}

.cart-img {
  width: 9px;
  margin-right: 4px;
  position: relative;
  top: 2px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
