body {
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 12px;
  height: 281.25px;
  margin: 96px auto;
  position: relative;
  width: 375px;
}

.product-img {
  left: 0;
  position: absolute;
  width: 50%;
}

.product-info {
  height: 281.25px;
  position: absolute;
  right: 0;
  width: 50%;
}

.product-info p {
  margin: 16px;
}

.product-info .category {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-size: 0.63rem;
  font-weight: 700;
  letter-spacing: 0.18rem;
}

.product-info .name {
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
}

.product-info .description {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-size: 0.5rem;
  font-weight: 500;
  line-height: 1.6;
}

.product-info .price {
  position: relative;
}

.product-info .new-price {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  font-size: 1.2rem;
  font-weight: 700;
}

.product-info .old-price {
  color: hsl(228, 12%, 48%);
  font-family:  "Montserrat", sans-serif;
  font-size: 0.5rem;
  font-weight: 500;
  position: absolute;
  right: 25%;
  text-decoration: line-through;
  top: 35%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
